[submodule "java-getting-started"]
	path = java-getting-started
	url = https://github.com/mrtineide/java-getting-started-
[submodule "dat250-jpa-example"]
	path = dat250-jpa-example
	url = https://github.com/mrtineide/dat250-jpa-example
[submodule "dat250-sparkjava-counter"]
	path = dat250-sparkjava-counter
	url = https://github.com/mrtineide/dat250-sparkjava-counter
[submodule "expass5"]
	path = expass5
	url = https://github.com/mrtineide/expass5
[submodule "expass6"]
	path = expass6
	url = https://github.com/mrtineide/expass6
